{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="font-semibold text-lg my-2">Create New Listings</h2>
<form method="post" action="{% url "create" %}">
    {% csrf_token %}
        <div class="col-md-6">
          <label for="title" class="form-label font-medium">Title</label>
          <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="col-md-6">
          <label for="price" class="form-label font-medium">Price</label>
          <input type="number" name="price" class="form-control" id="price">
        </div>
        <div class="col-md-6">
          <label for="image" class="form-label font-medium">Image URL</label>
          <input type="text" name="image" class="form-control" id="image">
        </div>
        <div class="col-md-6">
            <label for="exampleFormControlTextarea1" class="form-label font-medium">Procuct Description:</label>
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <div class="col-md-6">
          <label for="category" class="form-label font-medium">Category</label>
          <select id="category" class="form-select" name="category">
            {% comment %} <option>Select</option> {% endcomment %}
            {% for category in categories %}
            <option value="{{ category }}"> {{ category }}</option>
            {% endfor %}
          </select>
        </div>
        {% comment %} <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck" name="isactive">
              Active
            </label>
          </div>
        </div> {% endcomment %}
        <div class="col-12">
          <button type="submit" class="btn btn-dark py-1 px-3">List</button>
        </div>
      
</form>

{% endblock %}