{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="{% url "category" %}" method="post">
        {% csrf_token %}
    <div class="col-md-6">
        <label for="category" class="form-label">Category</label>
        <select id="category" class="form-select" name="category">
          {% for category in categories %}
          <option value="{{ category }}"> {{ category }}</option>
          {% endfor %}
        </select>
        <button type="submit" class ="btn btn-primary">Filter</button>
      </div>
    </form>
    </br>
    <div class="row mx-3">
    {% for products in listings %}
    <div class="card mx-3" style="width: 18rem;">
        <img src="{{products.imgUrl}}" class="card-img-top" alt="{{products.title}}">
        <div class="card-body">
            <h5 class="card-title"> {{products.title}}</h5>
            <p class="card-text"> {{products.description}} </p>
            <a href="{% url 'listing' id=products.id %}" class="btn btn-primary"> {{products.price}} </a>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}