{% extends "auctions/layout.html" %} {% block body %}

<div class="container">
  {% if user.is_authenticated %} 
    {% if watchStatus %} 
        <form  method="POST" action="{% url "removeFromWatchlist" id=products.id %}"> 
            {% csrf_token %}
            <button type="submit" class ="btn btn-danger">Remove from Watchlist</button>
        </form>
        {% else %} 
        <form  method="POST" action="{% url "addtoWatchlist" id=products.id %}" > 
            {% csrf_token %}
            <button type="submit" class ="btn btn-success">Add to Watchlist</button>
        </form>
    {% endif %} 
  {% endif %}
</div>

<h4>Category: {{products.category}}</h4> 
<h1>{{products.title}}</h1>
<img src="{{products.imgUrl}}" width="400" />
<p>{{products.description}}</p>
<h3>Owner: {{products.owner}}</h3>
<h3>Price: {{products.price}}$</h3>

<h3>Comments :</h3>
   {% for comment in comments %}
       <div class = "card mb-2 bg-light text-dark">
           <div class="card-body">
               <blockquote class="card-text">
                   <footer class="blockquote-footer">Posted by {{comment.owner}}</footer>
                   <p><strong>{{comment.message}}</strong></p>
               </blockquote>
           </div>
       </div>
   {% empty %}
       <p>No comments yet.</p>
   {% endfor %}

{% if user.is_authenticated %}  
     <div class="card">
         <div class="card-body">
             <form method="POST" action="{% url 'addComment' products.id %}">
                 {% csrf_token %}
                 <div class="form-group">
                     <label for="inputTextarea">Your Comment:</label>
                     <textarea class="form-control" name="comment" rows="3"></textarea>
                 </div>
                 <button type="submit" class="btn btn-primary">Submit</button>
             </form>
         </div>
     </div>
{% else %}
     <a href="/login/" class="btn btn-outline-primary">Login to add a comment</a>
{% endif %}



{% endblock %}
