{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="my-2 font-semibold text-lg">Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" class="flex flex-col justify-center items-center gap-3" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-dark px-2 mb-2" type="submit" value="Login">
    </form>

    <div class=" text-center">
          Don't have an account? <a href="{% url 'register' %}"  class="text-primary">Register here.</a>
    </div>
  

{% endblock %}